.projectDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectDiv img {
    padding: 10px;
    background-color: darkgoldenrod;
    border-radius: 15px;
    width: 80%;
    min-width: 350px;
}

.descDiv {
    position: absolute;
    right: 5%;
    width: 50%;
    bottom: 15%;
    text-align: right;
}

.projectDiv p {
    min-width: 300px;
    background-color: #777;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.stackDiv {
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: darkgoldenrod;
    box-sizing: border-box;
}

.stackDiv p {
    min-width: 0;
    padding: 0;
    margin: 0;
    width: auto;
    position: relative;
    background-color: inherit;
}

@media (max-width: 770px) {
    .descDiv {
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        /* top: 50%; */
        position: relative;
        width: 70%;
        min-width: 300px;
        text-align: left;
    }
}