body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
}

textarea {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.25em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.pageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mainBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 75px;
}

#root {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: darkgoldenrod;
}

::-webkit-scrollbar-thumb {
  background: gold;
}

::-webkit-scrollbar-thumb:hover {
  background: goldenrod;
}