.bar {
    width: 100%;
    background-color: #222;
    border-radius: 5px;
    /* margin: 10px; */
    margin-bottom: 20px;
}

.inlineLink, .inlineLink:visited {
    border-bottom: 2px solid white;
    transition: 0.3s;
}

.inlineLink:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    color: goldenrod;
}

#experienceCont .max {
    background-image: linear-gradient(to right, darkgoldenrod, goldenrod);
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

#experienceCont .eighty {
    width: 80%;
    background-image: linear-gradient(to right, darkgoldenrod, goldenrod);
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

#experienceCont .sixty {
    width: 60%;
    background-image: linear-gradient(to right, darkgoldenrod, goldenrod);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

#experienceBody {
    padding-top: 0;
}

#experienceBody p {
    padding-bottom: 5%;
}